<% content_for :title, t(:sign_in) -%>

<h1><%= content_for :title %></h1>

<%= simple_form_for @user,  url: sessions_path  do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :password %>
  <%= f.button :submit %>
<% end %>


<div class="linking">
  <a href="http://cheenwe.cn" target="_blank">xxx</a>
</div>
