<div class="block-center mt-xl wd-xl">
	<div class="panel panel-dark panel-flat">
		<div class="panel-heading text-center">
			<a href="#">
				<img src="<%= image_path('logo.png') %>" alt="Image" class="block-center green" />
			</a>
		</div>
		<div class="panel-body">
			<p class="text-center pv"><%= I18n.t :"sessions.welcome_login" %></p>

			<%= simple_form_for @user,  url: sessions_path  do |f| %>

				<%= render "shared/error_messages", target: @user %>
				<%= notice_message %>

				<div class="form-group has-feedback">
					<%= f.text_field :name,placeholder: I18n.t(:"sessions.name_placeholder"),required:"required", autocomplete:"on",class:"form-control input-lg m-b" %>
					 <span class="fa fa-user form-control-feedback text-muted"></span>
				</div>
				<div class="form-group has-feedback">
					<%= f.password_field :password,placeholder: I18n.t(:"sessions.password_placeholder"),required:"required", autocomplete:"off",class:"form-control input-lg m-b" %>
					 <span class="fa fa-lock form-control-feedback text-muted"></span>
				</div>

				<div class="clearfix">
					<div class="checkbox c-checkbox pull-left mt0">
						<label>
							<%= f.check_box :remember, class: "form-control" %>
							<span class="fa fa-check"></span><%= I18n.t :"sessions.remember" %>
						</label>
					</div>
					<div class="pull-right">
					<a href="<%= new_password_reset_path%>" class="text-muted"><%= I18n.t :"sessions.forgot_password" %> </a>
					</div>
				</div>

				<%= f.submit I18n.t(:"sessions.submit_login"), class: "btn btn-primary btn-block" %>
			<% end %>

			<p class="pt-lg text-center"><%= I18n.t :"sessions.register_content" %></p>
			<a href="<%= register_url(locale: I18n.locale)%>" class="btn btn-block btn-default"><%= I18n.t :"sessions.register" %></a>

		</div>
	</div>

	<div class="p-lg text-center">
		<span>&copy;</span>
		<span>2015</span>
		<span>-</span>
		<span>
			<a href="http://cheenwe.cn" target="_blank">Ran</a>
		</span>
	</div>
</div>