<div class="aside-inner">
	<nav class="sidebar">
		<ul class="nav">
			<li class="has-user-block">
				<div id="user-block" class="collapse">
					<div class="item user-block">
						<div class="user-block-picture">
							<div class="user-block-status">
								<img src="<%= image_path('logo.png') %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
								<div class="circle circle-success circle-lg"></div>
							</div>
						</div>
						<div class="user-block-info">
							<span class="user-block-name"><%= t :hello %>, <%= current_user.name %></span>
							<span class="user-block-role"><%= current_user.phone %></span>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-heading">
				<span>Main Navigation</span>
			</li>
			<li class=<%= 'active' if controller?('dashboard') && action?('v1') %> >
				<a href="/dashboard/v1" title="Dashboard">
					<em class="fa fa-dashboard"></em>
					<!-- <div class="label label-success pull-right">3</div> -->
					<span><%= t("dashboard")%></span>
				</a>
			</li>

			<li class=<%= 'active' if controller?('users') && action?('index') %> >
				<a href="/users" title="<%= t("users")%>"  >
					<em class="fa fa-users"></em>
					<!-- <div class="label label-success pull-right">3</div> -->
					<span><%= t("users")%></span>
				</a>
			</li>


			<li class="<%= 'active' if controller?('plugs')%>">
				<a href="#plugs" title="<%= t("plugs") %>" data-toggle="collapse">
					<em class="fa fa-folder-open-o"></em>
					<span><%= t("plugs") %></span>
				</a>
				<ul id="plugs" class="nav sidebar-subnav collapse">
				<li class="sidebar-subnav-header"><%= t("plugs") %></li>
				<li class="<%= 'active' if controller?('plugs') && action?('animations') %>">
					<a href="/plugs/animations" title="<%= t("animations")%>">
						<em class="fa fa-bolt"></em>
						<span><%= t("animations")%></span>
					</a>
				</li>
				<li class="<%= 'active' if controller?('plugs') && action?('icons') %>">
					<a href="/plugs/icons" title="<%= t("icons")%>">
						<em class="fa fa-plus-square"></em>
						<span><%= t("icons")%></span>
					</a>
				</li>
				</ul>
			</li>


		</ul>
	</nav>
</div>
