<div class="aside-inner">
	<nav class="sidebar">
		<ul class="nav">
			<li class="has-user-block">
				<div id="user-block" class="collapse">
					<div class="item user-block">
						<div class="user-block-picture">
							<div class="user-block-status">
								<img src="<%= image_path('logo.png') %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
								<div class="circle circle-success circle-lg"></div>
							</div>
						</div>
						<div class="user-block-info">
							<span class="user-block-name"><%= t :hello %>, <%= current_user.name %></span>
							<span class="user-block-role"><%= current_user.phone %></span>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-heading">
				<span>Main Navigation</span>
			</li>
			<li class=<%= 'active' if controller?('dashboard') && action?('v1') %> >
				<a href="/dashboard/v1" title="Dashboard">
					<em class="fa fa-dashboard"></em>
					<!-- <div class="label label-success pull-right">3</div> -->
					<span><%= t("dashboard")%></span>
				</a>
			</li>

			<li class=<%= 'active' if controller?('users') && action?('index') %> >
				<a href="/users" title="<%= t("users")%>"  >
					<em class="fa fa-users"></em>
					<!-- <div class="label label-success pull-right">3</div> -->
					<span><%= t("users")%></span>
				</a>
			</li>

			<li class="<%= 'active' if controller?('multilevel') %>">
				<a href="#multilevel" title="Multilevel" data-toggle="collapse">
					 <em class="fa fa-folder-open-o"></em>
					 <span>Multilevel</span>
				</a>
				<ul id="multilevel" class="nav sidebar-subnav collapse">
					<li class="sidebar-subnav-header">Multilevel</li>
						<li class="<%= 'active' if controller?('multilevel') && action?('level1') %>">
						<a href="#level1" title="Level 1" data-toggle="collapse">
							 <span>Level 1</span>
						</a>
						<ul id="level1" class="nav sidebar-subnav collapse">
							<li class="sidebar-subnav-header">Level 1</li>
							<li class="<%= 'active' if controller?('multilevel') && action?('level1') %>">
								<a href="/multilevel/level1" title="Level1 Item">
									<span>Level1 Item</span>
								</a>
							</li>
							<li class="active">
								<a href="#level2" title="Level 2" data-toggle="collapse">
									<span>Level 2</span>
								</a>
								<ul id="level2" class="nav sidebar-subnav collapse">
									<li class="sidebar-subnav-header">Level 2</li>
									<li class="active">
										<a href="#level3" title="Level 3" data-toggle="collapse">
											 <span>Level 3</span>
										</a>
										<ul id="level3" class="nav sidebar-subnav collapse">
											<li class="sidebar-subnav-header">Level 3</li>
											<li class="active">
												<a href="/multilevel/level3" title="Level3 Item">
													<span>Level3 Item</span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
