<%= form_with(model: admin_user, local: true) do |form| %>
  <% if admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

      <ul>
      <% admin_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uuid %>
    <%= form.text_field :uuid, id: :admin_user_uuid %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :admin_user_email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :admin_user_name %>
  </div>

  <div class="field">
    <%= form.label :english_name %>
    <%= form.text_field :english_name, id: :admin_user_english_name %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.text_field :avatar, id: :admin_user_avatar %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :admin_user_state %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :admin_user_type %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_field :bio, id: :admin_user_bio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
