<% content_for :title, I18n.t(:"register.register_user") -%>

<h1><%= content_for :title %></h1>
<p>
  <%= I18n.t :"register.welcome_register_user" %>
</p>
<%= form_for @user, :url => { :action => 'create' } do |f| %>
  <%#= f.error_messages %>
  <p>
    <%= f.label :name %>:<br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %>:<br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>:<br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %>:<br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit I18n.t(:"register.submit_register") %>
  </p>
<% end %>
