<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Ran is a demo made by cheenwe ">
	<meta name="keywords" content="cheenwe.cn,Ran">
	<title>Ran</title>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body ng-app="Ran">
	<div class="wrapper">
		<% if signed_in? %>
			<header class="topnavbar-wrapper">
				<%= render  "layouts/shared/navbar" %>
			</header>
			<aside class="aside">
				<%= render  "layouts/shared/sidebar" %>
			</aside>
			<section>
				<div class="content-wrapper">
					<%= notice_message %>
					<%= yield %>
				</div>
			</section>

			<footer>
				<%= render "shared/footer"%>
			</footer>
		<% else %>

			<%= render "layouts/shared/language"%>

			<%#= notice_message %>
			<%= yield %>
		<% end %>
	</div>

</body>
</html>
